﻿@model Rafa_market.ViewModels.UserView

@{
    ViewBag.Title = "AddRole";
}

<h2>Adicionar Permissão para o utilizador: @Model.Name</h2>

<h3>@ViewBag.Error</h3>

@using (Html.BeginForm("AddRole", "Users", new { UserID = Model.UserID}, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Role.RoleID, "RoleID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <br /><br />
        @Html.ActionLink("Voltar ao Utilizador", "Roles", new {UserID = Model.UserID }, new { @class = "btn btn-info" })

        <input type="submit" value="Adiciona Permissão" class="btn btn-success" />

    </div>

    
}



