﻿@model IEnumerable<Rafa_market.ViewModels.UserView>

@{
    ViewBag.Title = "Index";
}

<h2>Gestor de Permissões</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(ModelItem => item.Name)</td>
        <td>@Html.DisplayFor(ModelItem => item.Email)</td>
        <td>@Html.ActionLink("Roles", "Roles", new { UserID = item.UserID})</td>

    </tr>
    }

</table>

